@media print {
  * {
    -webkit-print-color-adjust: exact !important;
    -moz-print-color-adjust: exact !important;
    -ms-print-color-adjust: exact !important;
  }
  html,
  body {
    width: 210mm;
    height: 297mm;
  }
  .box {
    border: 0 !important;
  }
  .head-section .logo {
    background-color: #333 !important;
  }
  .pdf-footer {
    background-color: #333 !important;
  }
  .pdf-footer p,
  .pdf-footer h3 {
    color: #fff !important;
  }
  .business-info {
    background-color: #ececec !important;
  }
  footer {
    display: none !important;
  }
  .box-body {
    padding: 0 !important;
  }
}

@page {
  size: A4 portrait;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0.5cm;
  margin-bottom: 0px;
}

@page :first {
  margin-top: 0cm; /* Top margin on first page */
}

h3.heading {
  padding-bottom: 10px;
}

.head-section .logo {
  text-align: center;
  padding: 30px;
  background-color: #333;
}

.head-section .logo img {
  height: 50px;
}

.pdf-footer {
  text-align: center;
  padding: 10px 0;
  background-color: #333;
  color: #fff;
}

.business-info {
  overflow: hidden;
  text-align: center;
  padding: 20px 0;
  background-color: #ececec;
}

.business-info > h3 {
  padding-top: 10px;
  padding-bottom: 30px;
}

.business-info p {
  text-align: left;
  padding-top: 10px;
}

.swot_analysis {
  padding-top: 30px;
}

.content_plan {
  padding-top: 15px;
  page-break-after: always;
}

.content_details {
  padding-top: 15px;
}

.promotion_plan {
  padding-top: 15px;
}
.roi {
  padding-top: 15px;
}
